fasttext
pandas
pyprind
transformers
deepmatcher@git+https://github.com/AISLE-3/deepmatcher.git@deploy
pmcore@git+https://sour4bh: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@github.com/AISLE-3/product-matching-core